:root {
  font-family: 'Lora', serif;
  --cream: #FEF5ED;
  --lightCream: #fffdfa;
  --lightGreen: #D3E4CD;
  --green: #ADC2A9;
  --darkGreen: #99A799;
  --white: #FAF9F6;
  --grey: #3d3d3d;
}

::selection {
  background-color: var(--lightGreen);
}

html {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  line-height: 1.8;
}

body {
  color: var(--darkGreen);
  background: var(--cream);
}

h1 {
  font-family: 'Nunito', sans-serif;
  margin: 0 auto;
  padding: 0;
  font-size: 230%;
  text-align: center;
  letter-spacing: 0.25em;
  text-shadow: 3px 3px 8px var(--lightGreen);
}

.container {
  max-width: 60%;
  margin: 0px auto;
  margin-bottom: 50px;
  background-color: var(--cream);
  border-radius: 60px;
  border: 1px solid var(--lightGreen);
  box-shadow: -30px -30px 500px var(--lightCream),
              30px 30px 50px var(--darkGreen);
}

p, ul, .quote {
  margin: 15px;
  padding: 25px;
  color: var(--darkGreen);
}

@media (max-width: 480px) {
  .container {
    max-width: 100%;
  }

  p:first-of-type {
    padding-top: 15px;
  }

  html {
    font-size: 1em;
  }

  p, ul, .quote blockquote {
    margin: 5px;
    padding: 9px;
  }

  .quote {
    padding: 3px 5px;
  }

}

li {
  padding: 6px;
}

a {
  text-decoration: none;
  padding: 5px;
  border-radius: 8px;
  color: white;
  background-color: var(--green);
}

a:hover {
  box-shadow: -4px -4px 0px var(--lightGreen),
              4px 4px 0px var(--darkGreen);
  color: var(--grey);
}

.quote {
  margin-left: 35px;
  margin-right: 35px;
  margin-bottom: 35px;
  color: var(--lightCream);
  background-color: var(--green);
  border: 2px solid var(--lightCream);
  border-radius: 60px;
  box-shadow: -15px -15px 30px var(--lightGreen) inset,
              18px 18px 18px var(--darkGreen) inset;
}

.quote cite {
  display: block;
  text-align: right;
  padding-right: 10%;
}

ul {
  list-style: none;
}

/* #kenobi {
  display: block;
  text-align: center;
  border-radius: 10px;
}

.hide {
  display: none;
} */

#helloThere {
  font-weight: bold;
} 

.tweet-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}

.logo {
  background-size: 10px 10px;
}